body{
    margin: 0px;
}

.bloque-contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #105091;
    padding: 10px 10px;
    text-align: center; 
}

.bloque-contacto p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;          
    color: white;      
    font-weight: 500;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: white;
}

.navbar .logo {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .logo img {
    height: 60px;
    width: 60px;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text .line1 {
    text-align: center;
    width: 100%;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 12px;
}

.logo-text .line2 {
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 12px;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: black;
    transition: 0.3s;
}

.nav-links li:nth-child(2) a,
.nav-links li:nth-child(3) a,
.nav-links li:nth-child(4) a {
    color: #105091; 
}

.nav-links a:hover {
    opacity: 0.7;
}

.nav-links i {
    font-size: 12px;
    margin-left: 4px;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #105091;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 625px;
    overflow: hidden;
}

.slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 2;
    pointer-events: none;
}

.slides {
    display: flex;
    transition: transform 0.6s ease-in-out;
}

.slide {
    min-width: 100%;
    position: relative;
    z-index: 1;
}

.slide img {
    width: 100%;
    height: 625px;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: white;      
    border: none;
    cursor: pointer;
    font-size: 40px;      
    font-weight: bold;
}
.prev { left: 20px; }
.next { right: 20px; }

.dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.dot {
    height: 14px;
    width: 14px;
    margin: 0 6px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
}

.dot.active {
    opacity: 1;
    background-color: #000;
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    color: white;
    z-index: 3;
    max-width: 700px;
}

.subtitulo {
    color: #105091;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 18px;
}

.slider-content h1 {
    font-size: 52px;
    line-height: 1.2;
    margin: 20px 0;
    font-weight: 700;
}
.btn-slider {
    display: inline-block;
    background: #105091;
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-slider:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.about{
    background:#f5f5f5;
    padding:80px 10%;
}

.about-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:40px;
}

.about-text{
    flex:1;
}

.subtitle{
    color:#105091;
    font-weight:bold;
    letter-spacing:2px;
    position:relative;
}

.subtitle::after{
    content:"";
    width:50px;
    height:3px;
    background:#105091;
    position:absolute;
    left:0;
    bottom:-8px;
}
.about-text h2{
    font-size:50px;
    margin:10px 0 10px;
}

.about-text p{
    color:#666;
    line-height:1.7;
    margin-bottom:20px;
    text-align: justify;
    max-width:520px;
}

.btn{
    display:inline-block;
    background:#105091;
    color:white;
    padding:14px 35px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    transition:0.3s;
}

.btn:hover{
    background:#0b3b6a;
    transform:translateY(-2px);
}
.about-image{
    flex:1;
}

.about-image img{
    width:100%;
    border-radius:10px;
    box-shadow:0 15px 35px rgba(0,0,0,0.15);
}
.valores{
    text-align:center;
    padding:30px 10px;
    background: linear-gradient(135deg,#0d2b5c,#105091);
}

.valores h2{
    font-size:32px;
    margin-top: 10px;
    margin-bottom:10px;
    color:white;
    font-weight:600;
}

.valores-sub{
    color:#d9e4f5;
    margin-bottom:40px;
}

.valores-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
}

.valor-card{
    width:160px;
    height:140px;
    background:white;
    border-radius:12px;
    border:1px solid rgba(255,255,255,0.2);
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition:0.35s;
}

.valor-card i{
    font-size:20px;
    color:white;
    background:#105091;
    width:50px;
    height:50px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:12px;
}

.valor-card p{
    font-weight:500;
    color:#0d2b5c;
    font-size:14px;
    margin:0;
}

.valor-card{
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    will-change: transform;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.valor-card:hover{
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    box-shadow:0 15px 35px rgba(0,0,0,0.25);
    background:#105091;
}

.valor-card:hover p{
    color:white;
}

.valor-card:hover i{
    background:white;
    color:#105091;
}

.sedes{
    padding:80px 0;
    background:#f4f6f9;
    overflow:hidden;
}

.sedes-container{
    display:flex;
    align-items:center;
    gap:60px;
    max-width:1200px;
    margin:auto;
    padding:0 20px;
}

.sedes-texto{
    width:280px;
}

.sedes-texto h2{
    font-size:38px;
    font-weight:700;
    color:#1b3f73;
    margin-bottom:15px;
}

.sedes-texto span{
    display:block;
}

.sedes-texto p{
    font-size:18px;
    color:#333;
    line-height:1.5;
}

.slider-c{
    position:relative;
    width:100%;
    overflow:hidden;
}

.sedes-slider{
    display:flex;
    gap:25px;
    overflow-x:auto;
    scroll-behavior:smooth;
    scrollbar-width:none;
}

.sedes-slider::-webkit-scrollbar{
    display:none;
}

.sede-card{
    min-width:320px;
    height:420px;
    border-radius:20px;
    overflow:hidden;
    position:relative;
    flex-shrink:0;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    transition:0.4s;
}

.sede-card:hover{
    transform:translateY(-10px);
    box-shadow:0 20px 40px rgba(0,0,0,0.25);
}

.info-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(13,43,92,0.95);
    color: white;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    opacity: 0;
    transform: translateY(20px);
    transition: 0.35s;
}

.sede-card:hover .info-hover,
.sede-card.activo .info-hover {
    opacity: 1;
    transform: translateY(0);
}

.titulo-servicio {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding-bottom: 6px;
    letter-spacing: 0.5px;
}

.info-hover ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding-right: 25px;
    padding-left: 25px;
}

.info-hover ul li {
    position: relative;
    padding: 8px 0 20px 25px;
}

.info-hover ul li::before {
    content: "✔";
    position: absolute;
    left: 0;
    top: 8px;
    color: #ffffff;
    font-weight: bold;
}

.btn-cotizar{
    margin-top:20px;
    background:#ffffff;
    color:#1b3f73;
    border:none;
    padding:10px 18px;
    font-size:14px;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
    font-weight:500;
}

.btn-cotizar:hover{
    background:#f1f1f1;
    color:#333;
}

.sede-card img{
    width:320px;
    height:100%;
    object-fit:cover;
    display:block;
}

.overlay{
    position:absolute;
    bottom:0;
    left:0;
    width:300px;
    height:80px;
    display:flex;
    align-items:flex-end;
    padding:20px;
    background:linear-gradient(to top, rgba(0,30,70,0.9), transparent);
    color:white;
    font-size:18px;
    font-weight:600;
    letter-spacing:1px;
}

.fizquierda,.fderecha{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:#1b3f73;
    color:white;
    border:none;
    font-size:28px;
    width:45px;
    height:45px;
    border-radius:50%;
    cursor:pointer;
    z-index:10;
}

.fizquierda{
    left: 5px;
    padding-top: 0px;
    padding-left: 4px;
    padding-bottom: 4px;
}

.fderecha{
    right: 5px;
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 4px;
}

.puntos{
    display:flex;
    justify-content:center;
    margin-top:20px;
    gap:10px;
}

.puntos span{
    width:12px;
    height:12px;
    background:#c5c5c5;
    border-radius:50%;
    cursor:pointer;
}

.puntos span.activo{
    background:#1b3f73;
}

.titulo-empresas{
    background: linear-gradient(135deg,#0d2b5c,#105091);
    color:white;
    text-align:center;
    padding:30px 10px;
}

.titulo-empresas h2{
    font-size:30px;
    font-weight:550;
    margin:0;
    letter-spacing:1px;
}

.empresas{
    position:relative;
    height:500px;
    overflow:hidden;
}

.fondo{
    position:absolute;
    width:100%;
    height:100%;
    background-size:cover;
    background-position:center;
    background: url("img/fondo_empresas.jpeg") center/cover no-repeat;
    z-index:1;
}

.contenedor{
    display:flex;
    height:100%;
    position:relative;
    z-index:2;
    gap:10px;
}

.item{
    opacity: 0.7;
    flex:1;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    color:white;
    padding:20px;
    cursor:pointer;
    transition:0.4s;
    background:transparent;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    transition: all 0.8s ease;
}

.top{
    position:absolute;
    top:220px;
    left:50%;
    transform:translateX(-50%);
}

.logo{
    width:180px;
    max-width:90%;
    transition:0.3s;
}
.item.active{
    flex:3;
    opacity: 1;
}

.item button{
    opacity:0;
    margin-top:10px;
    padding:8px 15px;
    border:none;
    background: linear-gradient(135deg,#0d2b5c,#105091);
    color:white;
    cursor:pointer;
    transition:0.3s;
}

.item.active button{
    opacity:1;
}

.item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.2);
    transition: 0.3s;
    z-index: 0;
    transition: 0.6s ease;
}

.item.active::before {
    background: rgba(0,0,0,0.05);
}

.container-f {
    display: flex;
    min-height: 100vh;
}

.form-section-f {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-box-f {
    width: 100%;
    max-width: 420px;
}

.title-f {
    color: #1f3b6d;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}

.input-f,
.select-f {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #105091;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

.input-f:focus,
.select-f:focus {
    border-color: #105091;
}

.button-f {
    width: 100%;
    padding: 15px;
    background: #105091;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.button-f:hover {
    background: #105091;
}

.image-section-f {
    width: 50%;
}

.image-f {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.footer-t {
    background: #0d2b5c;
    color: white;
    padding: 50px 80px;
}

.container-footer-t {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-col-t {
    width: 30%;
}

.logo-t {
    width: 220px;
    margin-bottom: 20px;
}

.text-t {
    font-size: 14px;
    line-height: 1.6;
}

.menu-t {
    width: 20%;
}

.menu-t ul {
    list-style: none;
}

.menu-t li {
    margin-bottom: 10px;
}

.menu-t a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    position: relative;
}

.menu-t a.active-t::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: #00d4ff;
    margin-top: 5px;
}

.contact-t {
    width: 25%;
}

.title-t {
    margin-top: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.social-t {
    margin: 15px 0;
}

.social-t i {
    font-size: 18px;
    margin-right: 15px;
    cursor: pointer;
}

.book-t {
    margin-top: 15px;
}

.book-t img {
    width: 60px;
}

.wsp-chat {
    position: fixed;      /* 👈 CLAVE */
    right: 20px;          /* 👈 derecha */
    bottom: 20px;         /* 👈 abajo (mejor UX) */
    
    background: #25D366;
    color: white;
    padding: 12px 18px;
    border-radius: 30px;
    
    display: flex;
    align-items: center;
    gap: 8px;
    
    font-weight: bold;
    text-decoration: none;
    
    z-index: 9999;        /* 👈 encima de todo */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.wsp-chat:hover {
    background: #1ebe5d;
}


@media (max-width: 1024px) {

    .slider-content h1 {
        font-size: 38px;
    }

    .slider {
        height: 520px;
    }

    .slide img {
        height: 520px;
    }

    .navbar {
        padding: 5px 20px;
    }

    .nav-links {
        gap: 25px;
    }

    .sedes-container{
    flex-direction:column;
    text-align:center;
    gap:40px;
    }

    .sedes-texto{
    width:100%;
    max-width:500px;
    }

    .info-hover{
        max-width: 100%;
        padding-left: 10px;
    }
}

@media (max-width: 768px) {

    .bloque-contacto {
        display: none;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .logo-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .menu-toggle {
        display: block;
        font-size: 26px;
        cursor: pointer;
        color: #105091;
    }

    .nav-links {
        width: 100%;
        flex-direction: column;
        gap: 15px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.4s ease;
        
        align-items: center;
        text-align: center;
    }

    .nav-links.active {
        max-height: 500px;
    }

    .slider-content {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        max-width: 90%;
    }

    .slider-content h1 {
        font-size: 26px;
        line-height: 1.3;
    }

    .subtitulo {
        font-size: 13px;
    }

    .btn-slider {
        padding: 12px 25px;
        font-size: 14px;
    }
    .about{
        padding: 40px 30px;    
    }

    .about-container{
        flex-direction: column;
        text-align: center;
    }

    .about-text p{
        max-width: 100%;
    }

    .about-image{
        margin-top:10px;
    }

    .valores-container{
        gap:18px;
    }

    .valor-card{
        width:140px;
        height:130px;
    }

    .sedes{
        padding: 0px;
    }

    .sedes-container{
        flex-direction:column;
        gap:40px;
        text-align:center;
    }

    .sedes-texto{
        width:100%;
        max-width:500px;
    }

    .slider-c{
        width:100%;
    }

    .sede-card{
        min-width:100%;
        height:420px;
    }

    .sede-card img{
        min-width:100%;
    }

    .info-hover{
        min-width: 100%;
        padding-left: 0px;
    }    

    .overlay{
        width:100%;
    }

    .fizquierda{
        left:10px;
    }

    .fderecha{
        right:10px;
    }

    .titulo-empresas{
        padding:20px 15px;
    }

    .titulo-empresas h2{
        font-size:22px;
        line-height:1.3;
        letter-spacing:0.5px;
    }

    .contenedor{
        display:flex;
        overflow-x:auto;
        scroll-snap-type:x mandatory;
        scroll-behavior:smooth;
        -webkit-overflow-scrolling: touch;
    }

    .item{
        flex:0 0 100%;
        min-width:100%;
        scroll-snap-align:center;
        box-sizing:border-box;
    }

    .item.active{
        flex:0 0 100%;
    }

    .item button{
        opacity:1;
    }

    .container-f {
        flex-direction: column; /* 👈 clave */
        min-height: 0px;
    }

    .form-section-f,
    .image-section-f {
        width: 100%;
    }

    .image-section-f {
        height: 320px;
    }

    .form-section-f {
        padding-left: 0px;
        padding-right: 0px;
    }

    .form-box-f{
        padding-left: 15px;
        padding-right: 15px;
    }

    .title-f {
        font-size: 22px;
        text-align: center;
    }

    .input-f,
    .select-f {
        font-size: 13px;
        padding: 11px;
    }

    .button-f {
        padding: 12px;
    }

    .image-section-f {
        display: none;
    }

    .footer-t {
        padding: 40px 20px;
    }

    .container-footer-t {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-col-t,
    .menu-t,
    .contact-t {
        width: 100%;
    }

    .menu-t a {
        color: white;
        text-decoration: none;
        font-size: 14px;
        position: relative;
        padding-bottom: 5px;
    }

    .menu-t a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background: #00d4ff;
        transition: width 0.3s ease;
    }

    .menu-t a:hover::after {
        width: 100%;
    }

    .logo-t {
        margin: 0 auto 10px auto;
    }

    .title-t {
        font-size: 18px;
        margin-top: 20px;
    }

    .text-t {
        font-size: 14px;
    }

    .social-t {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .social-t i {
        font-size: 20px;
    }

    .menu-t ul {
        padding: 0;
    }

    .wsp-text {
        display: none;
    }

    .wsp-chat {
        padding: 14px;
        border-radius: 50%;
    }

}